footer{
    background: $navBlue;
    color: $white;
    padding: $padding;
    @include flex(center, center, column);
    @media(max-width:767px){
        padding: 15px;
    }
    a{
        margin: 0 20px;
        font-size: 1.2rem;
    }

    p{
        margin: 40px 0;
        @media(max-width:767px){
            margin: 10px 0;
        }
    }

    i{
        font-size: 2rem;
        @media(max-width:767px){
            font-size: 1.5rem;
        }
    }
}