$navBlue: #09192c; 
$darkBlue: #0b193c;
$pink: #f91257;
$white: white;
$lightGrey: #f8f8f8;
$fontColor: #0b193c;
$violet: #383c6e;
$font: 16px;
$padding: 80px 0;
$fontFamily: 'Montserrat', sans-serif;
$transition: .3s ease;
